<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448718135157-p65k89teengpp6sb6vu81fesrias05a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448718135157-p65k89teengpp6sb6vu81fesrias05a3</string>
	<key>API_KEY</key>
	<string>AIzaSyAGdv6fGMgNA7dspG4nNgXSFTH3A2D4GbY</string>
	<key>GCM_SENDER_ID</key>
	<string>448718135157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.ionic1fba2</string>
	<key>PROJECT_ID</key>
	<string>ion1fba2</string>
	<key>STORAGE_BUCKET</key>
	<string>ion1fba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448718135157:ios:aa400aa6728d10be</string>
	<key>DATABASE_URL</key>
	<string>https://ion1fba2.firebaseio.com</string>
</dict>
</plist>